
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1527689981175'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1527689981175#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf?t=1527689981175') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1527689981175#font_family') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font: normal normal normal 14px/1 iconfont;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f-succ:before { content: "\e620"; }

.icon-f-share2:before { content: "\e60c"; }

.icon-f-cam:before { content: "\e663"; }

.icon-f-info:before { content: "\e649"; }

.icon-f-friend:before { content: "\e626"; }

.icon-f-wenhao:before { content: "\e64f"; }

.icon-f-card2:before { content: "\e61b"; }

.icon-f-star:before { content: "\e600"; }

.icon-f-qq:before { content: "\e60d"; }

.icon-f-map:before { content: "\e613"; }

.icon-f-del:before { content: "\e605"; }

.icon-f-edit3:before { content: "\e641"; }

.icon-f-caogao:before { content: "\e66f"; }

.icon-f-time:before { content: "\e671"; }

.icon-f-pep:before { content: "\e670"; }

.icon-f-sear:before { content: "\e601"; }

.icon-f-v:before { content: "\e60f"; }

.icon-f-error:before { content: "\e61c"; }

.icon-f-setting:before { content: "\e72d"; }

.icon-f-date:before { content: "\e64d"; }

.icon-f-weixin:before { content: "\e686"; }

.icon-f-weibo:before { content: "\e687"; }

.icon-f-video:before { content: "\e603"; }

.icon-f-card:before { content: "\e75e"; }

.icon-f-edit2:before { content: "\e604"; }

.icon-f-share:before { content: "\e606"; }

.icon-f-day:before { content: "\e61d"; }

.icon-f-bell:before { content: "\e624"; }

.icon-f-text:before { content: "\e629"; }

.icon-f-edit:before { content: "\e653"; }

