@charset "utf-8";

@font-face {font-family: "Eurostile";
  src: url('../fonts/Eurostile/EurostileLTStd.otf'); /* IE9*/
}
.font-spe{font-family: Eurostile}
html, body {
  height: 100%;
  font-size: 14px;
  overflow: hidden;
  background: #fff;
}

a {
  color: #333
}
#app {
  height: 100%;
  overflow: hidden;
  /* -webkit-overflow-scrolling: touch; */
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}

/*==内页要引用的的最外层css==*/
.app {
  overflow: auto;
  height: 100%;
}

/*=============reset部分============*/
/*禁用fontboosting*/

* {
  max-height: 999999px;
}

/*清除默认input autofill 颜色*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent !important
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*placeholder顏色*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aeaeae !important;
}

i, em {
  font-style: normal
}

ul, ul li {
  list-style: none;
  padding: 0;
  margin: 0
}

button,input{outline:none}
*{
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}
/*================公共ui================*/

/*table盒模型*/

.flex-tab {
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.flex-tab-cell {
  display: table-cell;
  vertical-align: top;
  position: relative;
  word-break: break-all;
}

/*flex盒模型*/
.dis-flex {
  display: flex;
}

.dis-flex-item {
  flex: 1
}

.flex-wrap {
  flex-wrap: wrap;
}

/*flex清除定义（用于flex单位自适应内容宽度）*/
.flexnone {
  flex: none !important;
  width: auto !important;
}

/*预定义flex在表单场景的默认样式*/
.flex-form {
  position: relative;
  background: #fff;
  padding: 15px;
  width: auto !important;
}

.flex-form:last-child:before {
  display: none;
}

.flex-form:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform: scaleY(0.5);
}


/*1个像素border*/
/*上边线*/
.border-top-1px {
  position: relative
}

.border-top-1px:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-top: 1px solid #D9D9D9;
  transform: scaleY(0.5);
}

/*下边线*/
.border-bottom-1px {
  position: relative
}

.border-bottom-1px:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #D9D9D9;
  transform: scaleY(0.5);
}

/*字体颜色*/
/*深灰色字*/
.color-333 {
  color: #333
}

/*灰色字*/
.color-999 {
  color: #999
}

/*橙色字*/
.color-orange {
  color: #ed6b2b
}

/*红色字*/
.color-red {
  color: #dd1e0b
}

/*绿色字*/
.color-green {
  color: #69ae26
}

/*白色字*/
.color-white {
  color: #fff
}

/*蓝色字*/
.color-blue {
  color: #319efe
}

/*背景色*/
/*灰背景色*/
.bg-f6f5f6 {
  background-color: #f6f5f6
}

/*红色背景*/
.bg-red {
  background-color: #dd1e0b
}

/*绿色背景*/
.bg-green {
  background-color: #22b83b
}

/*白背景色*/
.bg-ffffff {
  background-color: #fff
}

.bg-f6f6f6 {
  background-color: #f6f6f6
}

/*橙色背景*/
.bg-orange {
  background-color: #ed6b2b
}

/*字号大小*/
.f-10 {
  font-size: 20px;
  transform: scale(0.5, 0.5);
  width: 200%;
  margin-left: -50%;
}

.f-11 {
  font-size: 22px;
  transform: scale(0.5, 0.5);
  width: 200%;
  margin-left: -50%;
}

.f-12 {
  font-size: 12px
}

.f-13 {
  font-size: 13px
}

.f-14 {
  font-size: 14px
}

.f-15 {
  font-size: 15px
}

.f-16 {
  font-size: 16px
}

.f-17 {
  font-size: 17px
}

.f-18 {
  font-size: 18px
}

.f-20 {
  font-size: 20px
}

.f-22 {
  font-size: 22px
}

.f-24 {
  font-size: 24px
}

.f-26 {
  font-size: 26px
}

.f-28 {
  font-size: 28px
}

.f-30 {
  font-size: 30px
}

/* 兼容iphone5 */

@media  (max-device-width:374px)  {
  .f-14 {
    font-size: 12px
  }
  html, body {
    font-size: 12px
  }
}


.linkonly {
  font-size: 0
}

/*文字属性*/
.f-bold {
  font-weight: bold;
}

.f-normal {
  font-weight: normal;
}

.f-italic{
  font-style: italic;
}

/*水平位置*/
.text-center {
  text-align: center
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*文本两端对齐*/
.text-justify {
  text-align: justify
}

/*垂直位置*/
.v-top {
  vertical-align: top
}

.v-middle {
  vertical-align: middle
}

.v-bottom {
  vertical-align: bottom
}

/*显示属性*/
.dis-block {
  display: block;
}

.dis-inline {
  display: inline-block;
}

/*块级元素居中*/

.block-center {
  margin: 0 auto;
}

/*内容控制*/

.h-full {
  height: 100%;
}

.over-auto {
  overflow-y: auto
}

.over-hidden {
  overflow: hidden
}

/*边距*/
.mt-10 {
  margin-top: 10px
}

.mt-12 {
  margin-top: 12px
}

.mb-12 {
  margin-bottom: 12px
}

.mt-15 {
  margin-top: 15px
}

.mb-15 {
  margin-bottom: 15px
}
.ml-10{
  margin-left: 10px
}

/*单行省略号*/
.tit-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;

}

/*2行省略号*/
.tit-2row-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}
/*3行省略号*/
.tit-3row-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
}

/*圆角*/
.bd-radius-4 {
  border-radius: 4px
}

.bd-radius-5 {
  border-radius: 5px
}

.bd-radius-cir {
  border-radius: 100%;
}

/*浮动*/

/*左浮动*/
.f_l {
  float: left
}

/*右浮动*/
.f_r {
  float: right
}

/*清除浮动*/
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
}

/*固定顶部（absolute）*/
.fix-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

/*固定底部（absolute）*/
.fix-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

/*viewbox盒模型（配合 over-auto 实现超出滚动）*/

/*单独整屏页面，不带公共的头部和尾部*/
.box-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

/*页面内只包含footer*/
.box-withfooter {
  position: absolute;
  top: 0;
  bottom: 53px;
  left: 0;
  right: 0
}

/*页面内只包含header*/
.box-withheader {
  position: absolute;
  top: 47px;
  bottom: 0;
  left: 0;
  right: 0
}

.box-withheader-nav {
  position: absolute;
  top: 94px;
  bottom: 0;
  left: 0;
  right: 0
}

/*页面内包含header+footer*/
.box-withbar {
  position: absolute;
  top: 47px;
  bottom: 53px;
  left: 0;
  right: 0
}

/*=======按钮组========*/
/*------实色按钮----- */
/*橙色大按钮*/
.btn-orange-lg {
  padding: 0 !important;
  height: 48px !important;
  line-height: 48px !important;
  border-radius: 48px !important;
  background-color: #fd8929 !important;
  font-size: 16px !important;
  box-shadow: 0 5px 10px rgba(255, 104, 37, 0.3)
}

.btn-orange-lg:not(.weui-btn_disabled):active {
  background-color: #fd9229 !important;
  color: #fff;
}

/*-------边线按钮-----*/
/*橙色边线按钮*/
.btn-bordered-orange {
  height: 26px;
  line-height: 26px;
  border-radius: 26px;
  border: 1px solid #ff6e16;
  text-align: center;
  color: #ff6900;
  padding: 0 10px;
  background:#fff
}

/*灰色边线 按钮*/
.btn-bordered-gray {
  height: 26px;
  line-height: 26px;
  border-radius: 26px;
  border: 1px solid #717171;
  text-align: center;
  color: #636363;
  padding: 0 10px;
  background:#fff
}

/*========徽章组======*/
/*绿色边线*/
.badge-green {
  border: 1px solid #7ecb47;
  color: #5fa432 !important;
  padding: 0px 5px !important;
  border-radius: 2px !important;
  background: #fff !important;
}

/*红色边线*/
.badge-red {
  border: 1px solid #e72e1a;
  color: #e72e1a !important;
  padding: 1px 3px !important;
  border-radius: 2px !important;
  background: #fff !important;
}

/*橙色边线*/
.badge-orange {
  border: 1px solid #ff8c3d;
  color: #ff8c3d !important;
  padding: 1px 3px !important;
  border-radius: 5px !important;
  background: #fff !important;
}

/*蓝色边线*/
.badge-blue {
  border: 1px solid #0e7cf5;
  color: #0e7cf5 !important;
  padding: 0px 5px !important;
  border-radius: 2px !important;
  background: #fff !important;
}

/*灰色边线*/
.badge-gray {
  border: 1px solid #ddd;
  color: #999 !important;
  padding: 0px 5px !important;
  border-radius: 2px !important;
  background: #fff !important;
}

/*==============公共组件（vux默认主体覆盖+复用性较多的自定义组件样式）=================*/
/*全局标题栏*/
.vux-header {
  background: #fff !important;
  border-bottom: 1px solid #e5e5e5
}

.vux-header .vux-header-title {
  color: #333 !important;
  margin: 0 48px!important;
}

.vux-header .vux-header-left .left-arrow:before {
  border-color: #333 !important
}

.vux-header .vux-header-left a, .vux-header .vux-header-left button, .vux-header .vux-header-right a, .vux-header .vux-header-right button {
  color: #333 !important
}

.vux-header .vux-header-left a.color-orange, .vux-header .vux-header-right a.color-orange {
  color: #ed6b2b !important;
}


/*顶部搜索栏白色*/
.search-white {
  padding: 12px
}

.search-white .weui-cell {
  padding: 0;
  height: 36px;
  line-height: 36px;
  background: #fff;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
}

.search-white input {
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.search-white .vux-x-input .weui-icon {
  padding-right: 10px;
  vertical-align: baseline;
}

.search-white i.fa {
  padding: 0 0 0 15px;
  color: #ccc;
}


/*vux--带popup的标题栏全局*/
.vux-popup-header {
  padding: 3px 0;
  background-color: transparent !important;
  height: 40px !important;
  line-height: 40px !important;
  border-bottom: 1px solid #e5e5e5
}

.vux-popup-header.vux-1px-b:after {
  border-bottom: 0 none;
}

.vux-popup-header-title {
  font-size: 18px
}

.left-arrow-normal {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 7px
}

.left-arrow-normal:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #504c4c;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 8px;
  left: 7px;
}

/*vux-popup-dialog定位问题*/

 .vux-popup-dialog{position:absolute!important}

/*vux--popup弹窗按钮橙色*/
.vux-popup-header-right{color:#ed6b2b!important}

/*vux--开关默认修改为橙色*/
.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
  border-color: #f37306 !important;
  background-color: #f37306 !important;
}

/*vux--confirm弹窗按钮橙色*/
.vux-confirm .weui-dialog__btn_primary {
  color: #fff!important;
}
.vux-confirm  .weui-dialog__btn_primary{
  background: #f37306!important;
}
.vux-confirm   .weui-dialog__ft {
  font-size: 16px!important
}

/*圆形空心实心单选样式*/
.cir-radio .weui-check:checked + .weui-icon-checked:before{
  color:#fff!important;
  background: #ff6900!important;
border-radius: 50%;
  border:1px solid #ff6900
}

.cir-radio .weui-check + .weui-icon-checked:before{
  color:transparent!important;
  background: transparent!important;
  border-radius: 50%;
  display: block;
  content: '\EA08';
  border:1px solid #ccc
}
.cir-radio .weui-cell__ft{
  padding-left: 0!important;
  padding-right:15px
}

.cir-radio [class^="weui-icon-"]:before, .cir-radio [class*=" weui-icon-"]:before {
  display: inline-block;
  margin:0!important;
  padding: 3px;
  font-size: 11px!important;
}

.cir-radio>.weui-cell{
  flex-direction: row-reverse;
}

/*vue-scroll--下拉刷新上滑加载组件*/
.no-data-text {font-size:13px!important;line-height: 50px}

/*vux--日历主体颜色*/
.inline-calendar td.current > span.vux-calendar-each-date{background-color:#ed6b2b!important}
.vux-prev-icon, .vux-next-icon{border-color:#ed6b2b!important}
.inline-calendar td > span.vux-calendar-each-date{font-size:14px!important}
.calendar-header{font-size: 15px!important}

/*vue-awesome-swiper 焦点图swiper*/

.swiper-wrapper >>> .swiper-slide {
    width: 90px;
}
.swiper-slide a {
  display: block;
}

.swiper-slide .box-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  padding: 10px 12px;
  margin: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.swiper-slide img {
  max-width: 100%;
  width: 100%
}

/*vux进度条渐变底色*/

.vux-range-input-box  .range-quantity{
  background-color:#ff8c1d!important ;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 30%, rgba(230, 41, 18, 1) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 30%, rgba(230, 41, 18, 1) 100%);
}

/*=============私有页面样式================*/

/*首页容器*/
.index-wrap header {
  padding: 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0
}

.index-wrap .tab-tit {
  position: absolute;
  left:0;right:0;
  /*top: 55px;*/
}

.index-wrap .tab-con {
  position: absolute;
  width: 100%;
  /*top: 99px;*/
  bottom: 53px;
  /* overflow-y: auto; */
}
.index-wrap .vux-tab-wrap{position: relative}
.index-wrap .vux-tab-wrap{height:44px;padding-top:0;padding-right:15px}
.index-wrap .vux-tab-wrap:after{
  content: '';
border-bottom:1px solid #e5e5e5;height:1px;
  position: absolute;left:0;right:0;bottom:0}

.index-wrap .vux-tab .vux-tab-item{background:none;
  line-height: 44px!important;}

.index-wrap .scrollable .vux-tab-ink-bar{z-index:2}

.index-wrap header .flex-left{flex:none;}

.index-wrap header .flex-city .city-text {padding-right: 30px;position: relative;display: block;    height: 28px;
  line-height: 28px;}
.index-wrap header .flex-left .city-text:after{
  content: '';
  position: absolute;
  right: 12px;
  top:11px;
  width: 0px;
  height: 6px;
  border: 6px solid;
  border-color:  #666 transparent transparent transparent;
}
.index-wrap header .flex-city .city-text em{max-width: 80px;display: inline-block}

.index-wrap header .flex-mid{flex:1}
.index-wrap header .flex-right{flex:none}

.index-wrap header .flex-mid .weui-cell {
  padding: 0;
  height: 34px;
  line-height: 34px;
  background: #ededed;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
}

.index-wrap header .flex-mid input {
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.index-wrap header .flex-mid .vux-x-input .weui-icon {
  padding-right: 10px;
  vertical-align: baseline;
}

.index-wrap header .flex-mid i.fa {
  padding: 0 0 0 15px;
  color: #ccc;
}

.index-wrap header .flex-right {
  padding-left:10px;
  text-align: center;
  width:48px
}

.index-wrap header .top-msgtip {
  text-align: center;
  top: 0;
  line-height: normal;
  position: relative;
}

.index-wrap header .top-msgtip .msgtip {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../src/assets/images/bell.png')  no-repeat;
  background-size: 100%;
}

.index-wrap header .top-msgtip i.fa {
  font-size: 20px;
  color: #999
}

.index-wrap header .top-msgtip em {
  font-style: normal;
  display: block;
  line-height: 12px;
}
.floatLeft{
  float: left;
}
/*首页--推荐频道*/
.recom-wrap {
  background-color: #f6f5f6;
}

.rankinglist {
  background: #fff;
  position: relative;
  height: 60px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(206, 67, 21, 0.1)
}

.rankinglist .tab-right {
  width: 22%;
  vertical-align: middle;
  box-shadow: -3px 0px 10px rgba(206, 67, 21, 0.13)
}

.rankinglist .tab-right img {
  display: block;
  margin: 0px auto 0 auto;
  width: 78%
}
.rankinglist .flex-tab-cell{height:60px}
.rank-item {
  position: relative
}

.rank-item {
  padding-top: 8px
}

.rank-item span {
  margin-top: -8px
}

.rank-item:after {
  position: absolute;
  border-right: 1px solid #e5e5e5;
  height: 30px;
  top: 14px;
  right: 0;
  content: ''
}

.vux-flexbox-item:last-child .rank-item:after {
  border: 0 none
}

/*普通panel盒子*/
.panel-box {
  background: #fff
}

.panel-box .adimg {
  padding: 0 12px 12px 12px;
  display: block;
  font-size: 0;

}

.panel-box .adimg img {
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  height: 122px;
  object-fit: cover;
}



/*区块分割框*/
.Interval-division {
  height: 10px;
  background: #f6f6f6;
  clear: both;
}

/*清除默认按钮样式*/
.weui-btn:after{border:0 none!important}
/*获取验证码样式的颜色修改*/
.weui-btn_primary {
  background-color: #fd8929 !important;
}

/**强调突出的文字 按钮**/
.c-a {
  color: #f37306;
}

.c-b-a {
  background: #f37306;
}

/**用于部分按钮**/
.c-b {
  color: #fd8b2a;
}

.c-b-b {
  background: #fd8b2a;
}

.c-b-o {
  color: #ff6c0e;
}

/**用于重要级文字信息 内页标题信息**/
.c-c {
  color: #333333;
}

/**用于次要级文字信息**/
.c-d {
  color: #666666;
}

/**用于说明级文字信息**/
.c-e {
  color: #999999;
}

.c-blue {
  color: #39aede
}

/****用于普通文章文章颜色*****/
.arc-c {
  color: #e5e5e5
}

/**用于分割线**/
.c-f {
  color: #dcdcdc;
}

/**用于分割模块的底色和背景色**/
.c-g {
  color: #f6f6f6;
}

.c-b-c {
  background-color: #e5e5e5;
}

/**红色警告**/
.c-h {
  color: #ee2415;
}

/*弹窗遮罩层---用于弹窗时的遮罩*/
.overlayer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

/*****验证码弹窗*****/
.vux-divider {
  padding-top: 30px;
  padding-bottom: 30px
}

.dialog-box {
  width: 80%;
  border-radius: 5px;
  z-index: 100;
  position: fixed;
  left: 10%;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  background: #ffffff;
}
.dialog-box .dia-tit{text-align: center;line-height: 48px;
  position: relative;border-bottom:0px solid #d5d5d5;font-size: 15px}
.dialog-box .dia-box{padding: 20px;display: flex}
.closePower {
  position: absolute;
  right: 0px;
  top: -0px;
  padding:0 15px;
  line-height:48px;
}
.closePower i.fa{
  padding-right:0!important
}



.dia-box input {
padding:0 10px;
  height: 40px;
  border: 1px solid #ccc;
  flex: 1;
  overflow: hidden;
  margin-right: 10px;
border-radius: 3px;
}

.dialog-box-r {
flex:none
}

.dialog-box-r img {
  width: 90px;
  max-width: 100%;
  height: 40px;
  vertical-align: top;
  display: block;
  border:1px solid #d5d5d5;
  border-radius:3px;
  margin-bottom: 5px;
}

.dialog-box-r span {
  font-size: 13px
}

.dialog-box h4 {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
  border-top: 1px solid #ff852c;
  text-align: center;
  font-size:18px;font-weight:normal
}

/*****验证码弹窗样式-over*****/

.display-flex-center {
  display: flex;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-flex-end{
  justify-content: flex-end;
}
/*****底部提交按钮样式*****/
.button-submit {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #ee8753;
}
/*.weui-btn_default {*/
  /*background: #ee8753 !important;*/
  /*color: #ffffff;*/
/*}*/
/*****底部提交按钮样式-over测试下内网*****/


/*input清除按钮隐藏*/
.weui-vcode .weui-cell__ft .weui-icon-clear{
  display: none;
}
