
/*
    全局变量
 */


$fontSize: 12px;  //字体大小
$borderRadius:5px; //圆角
$color:#000;    //字体颜色
$buttonHeight:32px;  // 高度
$buttonBg:#fff;   // 背景
$buttonActiveBg:#eee;  //点击背景
$borderColor:#999;   // 边框颜色
$borderColorHover:#666;//
